{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main-container">
        <h1>My accessories</h1>
        <ul>
        {% for accessory in accessories %}
            <li>
                <h2>{{accessory.name}}</h2>
                <img src="{{ accessory.url }}" alt=" {{accessory.name}} topic">
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
